.gradient-background {
  background: linear-gradient(300deg, #1589af, #064744, #c226d6);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}



@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}
.gradient-background{
  padding-left: 50px;
}

.flex-column{
  color: white;
}
#heading{
  color: white;
}
.text-body-emphasis {
  --bs-text-opacity: 1;
  color: #fff!important;
}
.dogg-img{
  border-radius: 50%;
  margin-top: 20px;
}
.border-top{
  color: white;
}
.lead{
  color: white;
}
